'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Atom Perforce'
        'submenu': [
          {
            'label': 'Perforce Add'
            'command': 'perforce:add'
          },
          {
            'label': 'Perforce Edit'
            'command': 'perforce:edit'
          },
          {
            'label': 'Perforce Sync'
            'command': 'perforce:sync'
          },
          {
            'label': 'Perforce Revert'
            'command': 'perforce:revert'
          },
        ]
      }
    ]
  }
]

'context-menu':
  '.tree-view.full-menu [is="tree-view-file"]': [
    {
        'type': 'separator'
    },
    {
        'label': 'Perforce Add'
        'command': 'perforce:add'
    },
    {
        'label': 'Perforce Edit'
        'command': 'perforce:edit'
    },
    {
        'label': 'Perforce Sync'
        'command': 'perforce:sync'
    },
    {
        'label': 'Perforce Revert'
        'command': 'perforce:revert'
    },
    {
        'type': 'separator'
    },
  ]

  '.tree-view.multi-select': [
    {
        'type': 'separator'
    },
    {
        'label': 'Perforce Add'
        'command': 'perforce:add'
    },
    {
        'label': 'Perforce Edit'
        'command': 'perforce:edit'
    },
    {
        'label': 'Perforce Sync'
        'command': 'perforce:sync'
    },
    {
        'label': 'Perforce Revert'
        'command': 'perforce:revert'
    },
    {
        'type': 'separator'
    },
  ]
